In [1]:
import pandas as pd
import numpy as np

In [2]:
#start with achievement file
achievement_file = pd.read_excel("data/bldgAchievement_1718.xlsx")
achievement_file.head()
achievement_file.dtypes

Building IRN                                 int64
Building Name                               object
District IRN                                 int64
District Name                               object
County                                      object
Region                                      object
Address                                     object
City and Zip                                object
Phone Number                                object
Principal                                   object
Performance Index Score 2017-18             object
Performance Index Score 2016-17             object
Performance Index Score 2015-16             object
Performance Index Percent 2017-18           object
Letter Grade of Performance Index           object
Percent of Students Not Tested              object
Percent of Students Limited                 object
Percent of Students Basic                   object
Percent of Students Proficient              object
Percent of Students Accelerated             object
Percent of Students Advanced                object
Percent of Students Advanced Plus           object
Gifted Performance Index Score 2017-18      object
Gifted Performance Index Percent 2017-18    object
Percent of Gifted Students Not Tested       object
Percent of Gifted Students Limited          object
Percent of Gifted Students Basic            object
Percent of Gifted Students Proficient       object
Percent of Gifted Students Accelerated      object
Percent of Gifted Students Advanced         object
Percent of Gifted Students Advanced Plus    object
Watermark                                   object
dtype: object

In [3]:
# discard unnecessary columns
achievement_reduced = pd.DataFrame({"Building_IRN": achievement_file["Building IRN"], "Building_Name": achievement_file["Building Name"], "District_IRN": achievement_file["District IRN"], "performanceIndexPercent_2017_2018": achievement_file["Performance Index Score 2017-18"], "performanceIndexPercent_2016_2017": achievement_file["Performance Index Score 2016-17"], "performanceIndexPercent_2015_2016": achievement_file["Performance Index Score 2015-16"]})
#make sure it worked
achievement_reduced.head()

,Building_IRN,Building_Name,District_IRN,performanceIndexPercent_2017_2018,performanceIndexPercent_2016_2017,performanceIndexPercent_2015_2016
0,59,Ada Elementary School,45187,99.326,98.476,96.125
1,67,Ada High School,45187,90.416,92.066,91.667
2,83,Sandusky Middle School,44743,70.178,66.398,62.772
3,102,Meigs Primary School,48520,NC,NC,NC
4,105,Meigs Intermediate School,48520,71.376,74.145,70.394

In [4]:
#filter for cmsd schooles only 
cmsd_achieve = achievement_reduced[achievement_reduced["District_IRN"] == 43786]

In [5]:
#reorder
cmsd_achieve = cmsd_achieve[["Building_IRN", "Building_Name", "District_IRN", "performanceIndexPercent_2015_2016", "performanceIndexPercent_2016_2017", "performanceIndexPercent_2017_2018"]]

cmsd_achieve.replace('NC', np.nan, inplace=True)

In [6]:
#helper function that filters cmsd schools based on IRN so i don't need to keep repeating
def cmsd_filter(df):
    return df[df["District IRN"] == 43786]

In [7]:
# read in the necessary excel files
valueAdded_1516 = pd.read_excel("data/valueAdded_1516.xls")
valueAdded_1617 = pd.read_excel("data/valueAdded_1617.xls")
valueAdded_1718 = pd.read_excel("data/valueAdded_1718.xlsx")

In [8]:
print("1516 dtypes =====================")
print(valueAdded_1516.dtypes)
print("1617 dtypes ======================")
print(valueAdded_1617.dtypes)
print("1718 dtypes =======================")
print(valueAdded_1718.dtypes)

1516 dtypes =====================
District IRN                                     int64
District Name                                   object
Building IRN                                     int64
Building Name                                   object
County                                          object
Region                                          object
Overall Value Added Grade                       object
Overall Composite                               object
Gifted Value Added Grade                        object
Gifted Composite                                object
Students with Disabilities Value Added Grade    object
Students with Disabilities composite            object
Lowest 20% Value Added Grade                    object
Lowest 20% Value Added Composite                object
High Mobility Value Added Grade                 object
High Mobility Composite                         object
Watermark                                       object
dtype: object
1617 dtypes ======================
District IRN                                     int64
District Name                                   object
Building IRN                                     int64
Building Name                                   object
County                                          object
Region                                          object
Overall Value Added Grade                       object
Overall Composite                               object
Gifted Value Added Grade                        object
Gifted Composite                                object
Students with Disabilities Value Added Grade    object
Students with Disabilities composite            object
Lowest 20% Value Added Grade                    object
Lowest 20% Value Added Composite                object
High Mobility Value Added Grade                 object
High Mobility Composite                         object
Watermark                                       object
dtype: object
1718 dtypes =======================
District IRN                                     int64
District Name                                   object
Building IRN                                     int64
Building Name                                   object
County                                          object
Region                                          object
Overall Value Added Grade                       object
Overall Composite                               object
Gifted Value Added Grade                        object
Gifted Composite                                object
Students with Disabilities Value Added Grade    object
Students with Disabilities Composite            object
Lowest 20% Value Added Grade                    object
Lowest 20% Value Added Composite                object
High Mobility Value Added Grade                 object
High Mobility Composite                         object
Watermark                                       object
dtype: object

In [9]:
#call the cmsd filter function on the value added files, then save the filtered files to a new dataframe 
cmsd_value1516 = cmsd_filter(valueAdded_1516)

In [10]:
cmsd_value1617 = cmsd_filter(valueAdded_1617)
cmsd_value1718 = cmsd_filter(valueAdded_1718)

In [11]:
#cmsd_value1516 = pd.DataFrame({"Building_IRN": cmsd_value1516["Building IRN"], "District_IRN": cmsd_value1516["District IRN"], "Overall Value Added Grade 2015-16": cmsd_value1516["Overall Value Added Grade"]})

In [12]:
#another function that reduces dataframes to only the necessary columns
def value_reduce(df, years):
    year = years
    return pd.DataFrame({"Building_IRN": df["Building IRN"], "District_IRN": df["District IRN"], f"Overall Value Added Grade {year}": df["Overall Value Added Grade"]})

In [13]:
cmsdValReduced_1516 = value_reduce(cmsd_value1516, 1516)

In [14]:
#make sure the function actually worked
cmsdValReduced_1516

     Building_IRN  District_IRN Overall Value Added Grade 1516
447           224         43786                              F
448           318         43786                              C
449           489         43786                              F
450           729         43786                              F
451           828         43786                              F
452           930         43786                              A
453          1040         43786                              F
454          2378         43786                              F
455          3137         43786                              F
456          4234         43786                              F
457          5066         43786                              F
458          5637         43786                              F
459          5892         43786                              F
460          5900         43786                              F
461          5942         43786                              A
462          6353         43786                              F
463          6429         43786                              A
464          6940         43786                              F
465          8060         43786                              F
466          8383         43786                              F
467          8490         43786                              F
468          8680         43786                              D
469          8987         43786                              C
470          9285         43786                              F
471          9421         43786                              F
472          9555         43786                              D
473         10200         43786                              F
474         10201         43786                              F
475         10801         43786                              F
476         11291         43786                              F
..            ...           ...                            ...
534         32128         43786                              D
535         33902         43786                              F
536         36475         43786                              F
537         37101         43786                              F
538         37457         43786                              F
539         38182         43786                              F
540         38604         43786                              F
541         38927         43786                              F
542         39149         43786                              F
543         39206         43786                              F
544         39685         43786                              C
545         39875         43786                              F
546         39891         43786                              C
547         41236         43786                              F
548         41517         43786                              F
549         41541         43786                              F
550         62315         43786                              F
551         62323         43786                              F
552         62760         43786                              F
553         62778         43786                              F
554         63461         43786                              D
555         64576         43786                              F
556         65565         43786                              F
557         65573         43786                              B
558         68221         43786                              F
559         86306         43786                              F
560        133215         43786                              C
561        133520         43786                              F
562        147389         43786                             NR
563        147397         43786                              A

[117 rows x 3 columns]

In [15]:
cmsdValReduced_1617 = value_reduce(cmsd_value1617, 1617)
cmsdValReduced_1718 = value_reduce(cmsd_value1718, 1718)

In [16]:
#duplicate columns will end with _y
cmsd_valAdded_merge1 = pd.merge(cmsdValReduced_1516, cmsdValReduced_1617, how="outer", on="Building_IRN", suffixes=('', '_y'))

In [17]:
cmsd_valAdded_merge2 = pd.merge(cmsd_valAdded_merge1, cmsdValReduced_1718, how='outer', on='Building_IRN', suffixes=('', '_y'))

In [18]:
def drop_y(df):
    # list comprehension of the columns that end with _y
    to_drop = [x for x in df if x.endswith('_y')]
    df.drop(to_drop, axis=1, inplace=True)

In [19]:
drop_y(cmsd_valAdded_merge2)

In [20]:
cmsd_valAdded_merge2.head()

,Building_IRN,District_IRN,Overall Value Added Grade 1516,Overall Value Added Grade 1617,Overall Value Added Grade 1718
0,224,43786.0,F,F,F
1,318,43786.0,C,F,F
2,489,43786.0,F,F,F
3,729,43786.0,F,F,F
4,828,43786.0,F,F,F

In [21]:
#==========================================================================================================================
#in reviewing the spreadsheets, i noticed that enrollment data appeared on several tabs, so need to specify first three sheets, otherwise it only loads in first sheet
oh_enroll1516 = pd.read_excel("data/enrollment_1516.xls", sheet_name=[0, 1, 2])

#oh_enroll1516[0].head()
oh_enroll1516[0].columns.values

array(['District IRN', 'District Name', 'Building IRN', 'Building Name',
       'County', 'Region', 'City and Zip Code', 'Phone # ', 'Principal',
       'School Type', 'Pre-School Enrollment', 'Kindergarten Enrollment',
       'First Grade Enrollment', 'Second Grade Enrollment',
       'Third Grade Enrollment', 'Fourth Grade Enrollment',
       'Fifth Grade Enrollment', 'Sixth Grade Enrollment',
       'Seventh Grade Enrollment', 'Eighth Grade Enrollment',
       'Ninth Grade Enrollment ', 'Tenth Grade Enrollment',
       'Eleventh Grade Enrollment', 'Twelfth Grade Enrollment',
       'Thirteenth Grade Enrollment',
       'Enrollment Past Twelfth Grade (Students with Disabilities)',
       'Watermark'], dtype=object)

In [22]:
#write a helper function that does cleanup for me
def enroll_replaceReduce(df, years):
    #call function within function
    cmsd_df = cmsd_filter(df)
    #replace NC with zero
    cmsd_df.replace('NC', '0', inplace=True)
    #replace <10 value with zero
    cmsd_df.replace('^.*<.*$', '0', regex=True, inplace=True)
    #create list of columns to drop, then drop
    cols = cmsd_df.columns
    #force them to be integers (object_infer and other methods did not work)
    cmsd_df[cols] = cmsd_df[cols].apply(pd.to_numeric, errors='coerce')
    year = years
    #create a new column for enrollment total and use iloc to add
    cmsd_df[f'Enrollment_Total_{year}'] = cmsd_df.iloc[:, -17:-1].sum(1)
    #drop columns i'll no longer need
    return pd.DataFrame({"Building_IRN": cmsd_df["Building IRN"], "District_IRN": cmsd_df["District IRN"], f'Enrollment_Total_{year}': cmsd_df[f'Enrollment_Total_{year}']})

In [23]:
oh_enroll1617 = pd.read_excel("data/enrollment_1617.xls", sheet_name=[0, 1, 2])

In [24]:
oh_enroll1617[0].columns.values

array(['District IRN', 'District Name', 'Building IRN', 'Building Name',
       'County', 'Region', 'City and Zip Code', 'Phone # ', 'Principal',
       'School Type', 'Pre-School Enrollment', 'Kindergarten Enrollment',
       'First Grade Enrollment', 'Second Grade Enrollment',
       'Third Grade Enrollment', 'Fourth Grade Enrollment',
       'Fifth Grade Enrollment', 'Sixth Grade Enrollment',
       'Seventh Grade Enrollment', 'Eighth Grade Enrollment',
       'Ninth Grade Enrollment ', 'Tenth Grade Enrollment',
       'Eleventh Grade Enrollment', 'Twelfth Grade Enrollment',
       'Thirteenth Grade Enrollment',
       'Enrollment Past Twelfth Grade (Students with Disabilities)',
       'Watermark'], dtype=object)

In [25]:
oh_enroll1718 = pd.read_excel("data/enrollment_1718.xlsx", sheet_name=[0, 1, 2])

In [26]:
oh_enroll1718[0].columns.values

array(['Building IRN', 'Building Name', 'District IRN', 'District Name',
       'County', 'Region', 'City and Zip Code', 'Phone Number',
       'Principal', 'Pre-School Enrollment', 'Kindergarten Enrollment',
       'First Grade Enrollment', 'Second Grade Enrollment',
       'Third Grade Enrollment', 'Fourth Grade Enrollment',
       'Fifth Grade Enrollment', 'Sixth Grade Enrollment',
       'Seventh Grade Enrollment', 'Eighth Grade Enrollment',
       'Ninth Grade Enrollment', 'Tenth Grade Enrollment',
       'Eleventh Grade Enrollment', 'Twelfth Grade Enrollment',
       'Thirteenth Grade Enrollment',
       'Enrollment Past Twelfth Grade (Students with Disabilities)',
       'Watermark'], dtype=object)

In [27]:
def concat_function(df1, df2, df3):
    df_concat1 = pd.concat([df1, df2])
    return pd.concat([df_concat1, df3])

In [28]:
cmsd_enroll1516_0 = enroll_replaceReduce(oh_enroll1516[0], 1516)
cmsd_enroll1516_1 = enroll_replaceReduce(oh_enroll1516[1], 1516)
cmsd_enroll1516_2 = enroll_replaceReduce(oh_enroll1516[2], 1516)

C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\pandas\core\frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)
C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]
C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [29]:
cmsd_enrollment_1516 = concat_function(cmsd_enroll1516_0, cmsd_enroll1516_1, cmsd_enroll1516_2)

In [30]:
cmsd_enrollment_1516

     Building_IRN  District_IRN  Enrollment_Total_1516
271           224         43786                  378.0
272           489         43786                  424.0
273           729         43786                  406.0
274           828         43786                  325.0
275          1040         43786                  441.0
276          2378         43786                  533.0
277          3137         43786                  300.0
278          4234         43786                  346.0
279          5066         43786                  315.0
280          5637         43786                  325.0
281          5892         43786                  461.0
282          5900         43786                  337.0
283          5942         43786                  318.0
284          6353         43786                  352.0
285          6429         43786                  517.0
286          6940         43786                  436.0
287          8060         43786                  261.0
288          8383         43786                  329.0
289          8490         43786                  317.0
290          8680         43786                  349.0
291          8987         43786                  214.0
292          9285         43786                  290.0
293          9421         43786                  378.0
294          9555         43786                  368.0
295         10200         43786                  394.0
296         10201         43786                  193.0
297         10801         43786                  315.0
298         12350         43786                  464.0
299         12352         43786                  285.0
300         12353         43786                  134.0
..            ...           ...                    ...
358         41517         43786                  232.0
359         41541         43786                  327.0
360         62315         43786                  716.0
361         62323         43786                  235.0
362         62760         43786                  540.0
363         62778         43786                  661.0
364         63461         43786                  245.0
365         64576         43786                  580.0
366         65565         43786                  320.0
367         65573         43786                  283.0
368         68221         43786                  180.0
369         86306         43786                  431.0
370        147389         43786                   74.0
371        147397         43786                  382.0
176           318         43786                  328.0
177           930         43786                  295.0
178         11291         43786                  342.0
179         11923         43786                  528.0
180         12010         43786                  252.0
181         12029         43786                  258.0
182         12030         43786                  126.0
183         12031         43786                  270.0
184         12852         43786                  306.0
185         13034         43786                  307.0
186         13148         43786                  209.0
187         14913         43786                   98.0
188         15239         43786                   70.0
189         15261         43786                   70.0
190        133215         43786                  208.0
191        133520         43786                  376.0

[117 rows x 3 columns]

In [31]:
cmsd_enroll1617_0 = enroll_replaceReduce(oh_enroll1617[0], 1617)
cmsd_enroll1617_1 = enroll_replaceReduce(oh_enroll1617[1], 1617)
cmsd_enroll1617_2 = enroll_replaceReduce(oh_enroll1617[2], 1617)

C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [32]:
cmsd_enrollment_1617 = concat_function(cmsd_enroll1617_0, cmsd_enroll1617_1, cmsd_enroll1617_2)

cmsd_enrollment_1617

In [33]:
cmsd_enrollment_1617

     Building_IRN  District_IRN  Enrollment_Total_1617
265           224         43786                  395.0
266           489         43786                  439.0
267           729         43786                  386.0
268           828         43786                  311.0
269          1040         43786                  465.0
270          2378         43786                  581.0
271          3137         43786                  277.0
272          4234         43786                  343.0
273          5066         43786                  297.0
274          5637         43786                  299.0
275          5892         43786                  455.0
276          5900         43786                  373.0
277          5942         43786                  287.0
278          6353         43786                  372.0
279          6429         43786                  510.0
280          6940         43786                  369.0
281          8060         43786                  237.0
282          8383         43786                  312.0
283          8490         43786                  310.0
284          8680         43786                  374.0
285          8987         43786                  244.0
286          9285         43786                  294.0
287          9421         43786                  404.0
288          9555         43786                  362.0
289         10200         43786                  397.0
290         10201         43786                  225.0
291         10801         43786                  303.0
292         12350         43786                  532.0
293         12352         43786                  291.0
294         12353         43786                  143.0
..            ...           ...                    ...
354         41541         43786                  316.0
355         62315         43786                  466.0
356         62323         43786                  224.0
357         62760         43786                  506.0
358         62778         43786                  705.0
359         63461         43786                  250.0
360         64576         43786                  537.0
361         65565         43786                  360.0
362         65573         43786                  275.0
363         68221         43786                  174.0
364         86306         43786                  377.0
365        147389         43786                   45.0
366        147397         43786                  404.0
174           318         43786                  360.0
175           930         43786                  311.0
176         11291         43786                  319.0
177         11923         43786                  528.0
178         12010         43786                  248.0
179         12029         43786                  272.0
180         12030         43786                  154.0
181         12031         43786                  287.0
182         12852         43786                  342.0
183         13034         43786                  329.0
184         13148         43786                  210.0
185         14913         43786                  135.0
186         15239         43786                  117.0
187         15261         43786                  182.0
188         15722         43786                   18.0
189        133215         43786                  198.0
190        133520         43786                  364.0

[119 rows x 3 columns]

In [34]:
cmsd_enroll1718_0 = enroll_replaceReduce(oh_enroll1718[0], 1718)
cmsd_enroll1718_1 = enroll_replaceReduce(oh_enroll1718[1], 1718)
cmsd_enroll1718_2 = enroll_replaceReduce(oh_enroll1718[2], 1718)

C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [35]:
cmsd_enrollment_1718 = concat_function(cmsd_enroll1718_0, cmsd_enroll1718_1, cmsd_enroll1718_2)

In [36]:
cmsd_enrollment_1718

      Building_IRN  District_IRN  Enrollment_Total_1718
24             224         43786                    443
49             318         43786                    419
88             489         43786                    547
143            729         43786                    442
160            828         43786                    395
188            930         43786                    323
190            936         43786                    210
202           1040         43786                    513
283           2378         43786                    615
325           3137         43786                    329
386           4234         43786                    395
435           5066         43786                    301
463           5637         43786                    319
483           5892         43786                    455
484           5900         43786                    404
486           5942         43786                    326
504           6353         43786                    345
507           6429         43786                    590
538           6940         43786                    329
611           8060         43786                    248
654           8383         43786                    323
660           8490         43786                    404
672           8680         43786                    414
698           8987         43786                    236
756           9285         43786                    346
765           9421         43786                    379
775           9555         43786                    358
838          10200         43786                    377
839          10201         43786                    243
875          10801         43786                    333
...            ...           ...                    ...
2909         62778         43786                    753
2911         63461         43786                    223
2930         64576         43786                    469
2959         65565         43786                    430
2960         65573         43786                    336
3002         68221         43786                    172
3042         86306         43786                    355
3198        133215         43786                    248
3214        133520         43786                    410
3219        133629         43786                    439
3390        147397         43786                    401
15             318         43786                    419
63             930         43786                    323
99           11291         43786                    406
107          11923         43786                    490
114          12010         43786                    279
118          12029         43786                    262
119          12030         43786                    224
120          12031         43786                    298
136          12852         43786                    404
139          13034         43786                    427
144          13148         43786                    256
180          14913         43786                    204
184          15239         43786                    174
185          15261         43786                    345
190          15722         43786                    180
207         133215         43786                    248
220         133520         43786                    410
224         133629         43786                    439
16             936         43786                    210

[142 rows x 3 columns]

In [37]:
df_merge1 = pd.merge(cmsd_enrollment_1516, cmsd_enrollment_1617, how="outer", on="Building_IRN", suffixes=('', '_y'))

In [38]:
cmsd_all_enrollment = pd.merge(df_merge1, cmsd_enrollment_1718, how="outer", on="Building_IRN", suffixes=('', '_y'))

In [39]:
cmsd_all_enrollment.head()

,Building_IRN,District_IRN,Enrollment_Total_1516,District_IRN_y,Enrollment_Total_1617,District_IRN_y,Enrollment_Total_1718
0,224,43786.0,378.0,43786.0,395.0,43786.0,443.0
1,489,43786.0,424.0,43786.0,439.0,43786.0,547.0
2,729,43786.0,406.0,43786.0,386.0,43786.0,442.0
3,828,43786.0,325.0,43786.0,311.0,43786.0,395.0
4,1040,43786.0,441.0,43786.0,465.0,43786.0,513.0

In [40]:
drop_y(cmsd_all_enrollment)

In [41]:
cmsd_all_enrollment

,Building_IRN,District_IRN,Enrollment_Total_1516,Enrollment_Total_1617,Enrollment_Total_1718
0,224,43786.0,378.0,395.0,443.0
1,489,43786.0,424.0,439.0,547.0
2,729,43786.0,406.0,386.0,442.0
3,828,43786.0,325.0,311.0,395.0
4,1040,43786.0,441.0,465.0,513.0
5,2378,43786.0,533.0,581.0,615.0
6,3137,43786.0,300.0,277.0,329.0
7,4234,43786.0,346.0,343.0,395.0
8,5066,43786.0,315.0,297.0,301.0
9,5637,43786.0,325.0,299.0,319.0
10,5892,43786.0,461.0,455.0,455.0
11,5900,43786.0,337.0,373.0,404.0
12,5942,43786.0,318.0,287.0,326.0
13,6353,43786.0,352.0,372.0,345.0
14,6429,43786.0,517.0,510.0,590.0
15,6940,43786.0,436.0,369.0,329.0
16,8060,43786.0,261.0,237.0,248.0
17,8383,43786.0,329.0,312.0,323.0
18,8490,43786.0,317.0,310.0,404.0
19,8680,43786.0,349.0,374.0,414.0
20,8987,43786.0,214.0,244.0,236.0
21,9285,43786.0,290.0,294.0,346.0
22,9421,43786.0,378.0,404.0,379.0
23,9555,43786.0,368.0,362.0,358.0
24,10200,43786.0,394.0,397.0,377.0
25,10201,43786.0,193.0,225.0,243.0
26,10801,43786.0,315.0,303.0,333.0
27,12350,43786.0,464.0,532.0,715.0
28,12352,43786.0,285.0,291.0,285.0
29,12353,43786.0,134.0,143.0,149.0
...,...,...,...,...,...
117,12852,43786.0,306.0,342.0,404.0
118,12852,43786.0,306.0,342.0,404.0
119,13034,43786.0,307.0,329.0,427.0
120,13034,43786.0,307.0,329.0,427.0
121,13148,43786.0,209.0,210.0,256.0
122,13148,43786.0,209.0,210.0,256.0
123,14913,43786.0,98.0,135.0,204.0
124,14913,43786.0,98.0,135.0,204.0
125,15239,43786.0,70.0,117.0,174.0
126,15239,43786.0,70.0,117.0,174.0
127,15261,43786.0,70.0,182.0,345.0
128,15261,43786.0,70.0,182.0,345.0
129,133215,43786.0,208.0,198.0,248.0
130,133215,43786.0,208.0,198.0,248.0
131,133520,43786.0,376.0,364.0,410.0
132,133520,43786.0,376.0,364.0,410.0
133,16427,NaN,NaN,95.0,191.0
134,16429,NaN,NaN,126.0,171.0
135,15722,NaN,NaN,18.0,180.0
136,15722,NaN,NaN,18.0,180.0
137,936,NaN,NaN,NaN,210.0
138,936,NaN,NaN,NaN,210.0
139,16882,NaN,NaN,NaN,134.0
140,16883,NaN,NaN,NaN,128.0
141,16884,NaN,NaN,NaN,56.0
142,16885,NaN,NaN,NaN,98.0
143,16886,NaN,NaN,NaN,94.0
144,16887,NaN,NaN,NaN,48.0
145,133629,NaN,NaN,NaN,439.0
146,133629,NaN,NaN,NaN,439.0

In [42]:
cmsd_all_enrollment.drop_duplicates(subset ="Building_IRN", keep='first', inplace = True)

In [43]:
cmsd_all_enrollment

,Building_IRN,District_IRN,Enrollment_Total_1516,Enrollment_Total_1617,Enrollment_Total_1718
0,224,43786.0,378.0,395.0,443.0
1,489,43786.0,424.0,439.0,547.0
2,729,43786.0,406.0,386.0,442.0
3,828,43786.0,325.0,311.0,395.0
4,1040,43786.0,441.0,465.0,513.0
5,2378,43786.0,533.0,581.0,615.0
6,3137,43786.0,300.0,277.0,329.0
7,4234,43786.0,346.0,343.0,395.0
8,5066,43786.0,315.0,297.0,301.0
9,5637,43786.0,325.0,299.0,319.0
10,5892,43786.0,461.0,455.0,455.0
11,5900,43786.0,337.0,373.0,404.0
12,5942,43786.0,318.0,287.0,326.0
13,6353,43786.0,352.0,372.0,345.0
14,6429,43786.0,517.0,510.0,590.0
15,6940,43786.0,436.0,369.0,329.0
16,8060,43786.0,261.0,237.0,248.0
17,8383,43786.0,329.0,312.0,323.0
18,8490,43786.0,317.0,310.0,404.0
19,8680,43786.0,349.0,374.0,414.0
20,8987,43786.0,214.0,244.0,236.0
21,9285,43786.0,290.0,294.0,346.0
22,9421,43786.0,378.0,404.0,379.0
23,9555,43786.0,368.0,362.0,358.0
24,10200,43786.0,394.0,397.0,377.0
25,10201,43786.0,193.0,225.0,243.0
26,10801,43786.0,315.0,303.0,333.0
27,12350,43786.0,464.0,532.0,715.0
28,12352,43786.0,285.0,291.0,285.0
29,12353,43786.0,134.0,143.0,149.0
...,...,...,...,...,...
98,86306,43786.0,431.0,377.0,355.0
99,147389,43786.0,74.0,45.0,NaN
100,147397,43786.0,382.0,404.0,401.0
101,318,43786.0,328.0,360.0,419.0
103,930,43786.0,295.0,311.0,323.0
105,11291,43786.0,342.0,319.0,406.0
107,11923,43786.0,528.0,528.0,490.0
109,12010,43786.0,252.0,248.0,279.0
111,12029,43786.0,258.0,272.0,262.0
113,12030,43786.0,126.0,154.0,224.0
115,12031,43786.0,270.0,287.0,298.0
117,12852,43786.0,306.0,342.0,404.0
119,13034,43786.0,307.0,329.0,427.0
121,13148,43786.0,209.0,210.0,256.0
123,14913,43786.0,98.0,135.0,204.0
125,15239,43786.0,70.0,117.0,174.0
127,15261,43786.0,70.0,182.0,345.0
129,133215,43786.0,208.0,198.0,248.0
131,133520,43786.0,376.0,364.0,410.0
133,16427,NaN,NaN,95.0,191.0
134,16429,NaN,NaN,126.0,171.0
135,15722,NaN,NaN,18.0,180.0
137,936,NaN,NaN,NaN,210.0
139,16882,NaN,NaN,NaN,134.0
140,16883,NaN,NaN,NaN,128.0
141,16884,NaN,NaN,NaN,56.0
142,16885,NaN,NaN,NaN,98.0
143,16886,NaN,NaN,NaN,94.0
144,16887,NaN,NaN,NaN,48.0
145,133629,NaN,NaN,NaN,439.0

In [44]:
val_enroll_merge = pd.merge(cmsd_all_enrollment, cmsd_valAdded_merge2, how="outer", on="Building_IRN", suffixes=('', '_y'))

In [45]:
val_enroll_merge

,Building_IRN,District_IRN,Enrollment_Total_1516,Enrollment_Total_1617,Enrollment_Total_1718,District_IRN_y,Overall Value Added Grade 1516,Overall Value Added Grade 1617,Overall Value Added Grade 1718
0,224,43786.0,378.0,395.0,443.0,43786.0,F,F,F
1,489,43786.0,424.0,439.0,547.0,43786.0,F,F,F
2,729,43786.0,406.0,386.0,442.0,43786.0,F,F,F
3,828,43786.0,325.0,311.0,395.0,43786.0,F,F,F
4,1040,43786.0,441.0,465.0,513.0,43786.0,F,F,C
5,2378,43786.0,533.0,581.0,615.0,43786.0,F,F,F
6,3137,43786.0,300.0,277.0,329.0,43786.0,F,F,F
7,4234,43786.0,346.0,343.0,395.0,43786.0,F,F,F
8,5066,43786.0,315.0,297.0,301.0,43786.0,F,F,F
9,5637,43786.0,325.0,299.0,319.0,43786.0,F,F,F
10,5892,43786.0,461.0,455.0,455.0,43786.0,F,F,D
11,5900,43786.0,337.0,373.0,404.0,43786.0,F,F,F
12,5942,43786.0,318.0,287.0,326.0,43786.0,A,C,F
13,6353,43786.0,352.0,372.0,345.0,43786.0,F,D,A
14,6429,43786.0,517.0,510.0,590.0,43786.0,A,A,A
15,6940,43786.0,436.0,369.0,329.0,43786.0,F,C,C
16,8060,43786.0,261.0,237.0,248.0,43786.0,F,F,F
17,8383,43786.0,329.0,312.0,323.0,43786.0,F,F,A
18,8490,43786.0,317.0,310.0,404.0,43786.0,F,F,F
19,8680,43786.0,349.0,374.0,414.0,43786.0,D,B,B
20,8987,43786.0,214.0,244.0,236.0,43786.0,C,F,F
21,9285,43786.0,290.0,294.0,346.0,43786.0,F,F,D
22,9421,43786.0,378.0,404.0,379.0,43786.0,F,D,C
23,9555,43786.0,368.0,362.0,358.0,43786.0,D,C,B
24,10200,43786.0,394.0,397.0,377.0,43786.0,F,F,F
25,10201,43786.0,193.0,225.0,243.0,43786.0,F,F,F
26,10801,43786.0,315.0,303.0,333.0,43786.0,F,C,B
27,12350,43786.0,464.0,532.0,715.0,43786.0,F,F,F
28,12352,43786.0,285.0,291.0,285.0,43786.0,D,C,C
29,12353,43786.0,134.0,143.0,149.0,43786.0,D,B,A
...,...,...,...,...,...,...,...,...,...
98,86306,43786.0,431.0,377.0,355.0,43786.0,F,F,F
99,147389,43786.0,74.0,45.0,NaN,43786.0,NR,D,NaN
100,147397,43786.0,382.0,404.0,401.0,43786.0,A,A,A
101,318,43786.0,328.0,360.0,419.0,43786.0,C,F,F
102,930,43786.0,295.0,311.0,323.0,43786.0,A,A,A
103,11291,43786.0,342.0,319.0,406.0,43786.0,F,C,C
104,11923,43786.0,528.0,528.0,490.0,43786.0,C,F,F
105,12010,43786.0,252.0,248.0,279.0,43786.0,D,F,D
106,12029,43786.0,258.0,272.0,262.0,43786.0,A,A,A
107,12030,43786.0,126.0,154.0,224.0,43786.0,C,C,B
108,12031,43786.0,270.0,287.0,298.0,43786.0,A,A,B
109,12852,43786.0,306.0,342.0,404.0,43786.0,F,F,F
110,13034,43786.0,307.0,329.0,427.0,43786.0,C,C,B
111,13148,43786.0,209.0,210.0,256.0,43786.0,F,F,F
112,14913,43786.0,98.0,135.0,204.0,43786.0,NR,C,F
113,15239,43786.0,70.0,117.0,174.0,43786.0,NR,NR,D
114,15261,43786.0,70.0,182.0,345.0,43786.0,NR,NR,C
115,133215,43786.0,208.0,198.0,248.0,43786.0,C,C,C
116,133520,43786.0,376.0,364.0,410.0,43786.0,F,F,F
117,16427,NaN,NaN,95.0,191.0,NaN,NaN,F,F
118,16429,NaN,NaN,126.0,171.0,NaN,NaN,F,F
119,15722,NaN,NaN,18.0,180.0,NaN,NaN,NR,A
120,936,NaN,NaN,NaN,210.0,NaN,NaN,NaN,NR
121,16882,NaN,NaN,NaN,134.0,NaN,NaN,NaN,F
122,16883,NaN,NaN,NaN,128.0,NaN,NaN,NaN,A
123,16884,NaN,NaN,NaN,56.0,NaN,NaN,NaN,C
124,16885,NaN,NaN,NaN,98.0,NaN,NaN,NaN,D
125,16886,NaN,NaN,NaN,94.0,NaN,NaN,NaN,C
126,16887,NaN,NaN,NaN,48.0,NaN,NaN,NaN,B
127,133629,NaN,NaN,NaN,439.0,NaN,NaN,NaN,D

In [46]:
single_cmsd_dataset = pd.merge(cmsd_achieve, val_enroll_merge, how="outer", on="Building_IRN", suffixes=('', '_y'))

In [47]:
single_cmsd_dataset

,Building_IRN,Building_Name,District_IRN,performanceIndexPercent_2015_2016,performanceIndexPercent_2016_2017,performanceIndexPercent_2017_2018,District_IRN_y,Enrollment_Total_1516,Enrollment_Total_1617,Enrollment_Total_1718,District_IRN_y,Overall Value Added Grade 1516,Overall Value Added Grade 1617,Overall Value Added Grade 1718
0,224,Adlai Stevenson School,43786.0,43.903,49.271,48.158,43786.0,378.0,395.0,443.0,43786.0,F,F,F
1,318,Menlo Park Academy,43786.0,110.76,106.422,108.824,43786.0,328.0,360.0,419.0,43786.0,C,F,F
2,489,Almira,43786.0,46.384,46.791,49.955,43786.0,424.0,439.0,547.0,43786.0,F,F,F
3,729,Andrew J Rickoff,43786.0,44.327,47.131,49.875,43786.0,406.0,386.0,442.0,43786.0,F,F,F
4,828,Anton Grdina,43786.0,38.904,40.361,42.672,43786.0,325.0,311.0,395.0,43786.0,F,F,F
5,930,Cleveland Entrepreneurship Preparatory School,43786.0,73.607,75.062,76.657,43786.0,295.0,311.0,323.0,43786.0,A,A,A
6,936,Promise Academy,43786.0,NaN,NaN,44.667,NaN,NaN,NaN,210.0,NaN,NaN,NaN,NR
7,1040,Artemus Ward,43786.0,56.816,60.942,65.324,43786.0,441.0,465.0,513.0,43786.0,F,F,C
8,2378,Benjamin Franklin,43786.0,64.892,64.372,69.865,43786.0,533.0,581.0,615.0,43786.0,F,F,F
9,3137,Bolton,43786.0,36.583,41.123,38.271,43786.0,300.0,277.0,329.0,43786.0,F,F,F
10,4234,Buhrer,43786.0,71.772,77.072,70.19,43786.0,346.0,343.0,395.0,43786.0,F,F,F
11,5066,Case,43786.0,38.715,42.5,49.362,43786.0,315.0,297.0,301.0,43786.0,F,F,F
12,5637,Alfred Benesch,43786.0,39.222,39.879,40.343,43786.0,325.0,299.0,319.0,43786.0,F,F,F
13,5892,Charles A Mooney School,43786.0,52.23,57.381,62.922,43786.0,461.0,455.0,455.0,43786.0,F,F,D
14,5900,Charles Dickens School,43786.0,42.29,48.036,46.391,43786.0,337.0,373.0,404.0,43786.0,F,F,F
15,5942,Charles W Eliot School,43786.0,52.793,50.404,50,43786.0,318.0,287.0,326.0,43786.0,A,C,F
16,6353,Clara E Westropp School,43786.0,58.551,63.577,71.534,43786.0,352.0,372.0,345.0,43786.0,F,D,A
17,6429,Clark School,43786.0,79.627,92.689,88.454,43786.0,517.0,510.0,590.0,43786.0,A,A,A
18,6940,Collinwood High School,43786.0,44.333,54,59.269,43786.0,436.0,369.0,329.0,43786.0,F,C,C
19,8060,Daniel E Morgan School,43786.0,46.819,53.778,61.476,43786.0,261.0,237.0,248.0,43786.0,F,F,F
20,8383,Denison,43786.0,50.809,60.98,72.997,43786.0,329.0,312.0,323.0,43786.0,F,F,A
21,8490,Cleveland School of Arts Lower Campus,43786.0,63.351,62.345,62.444,43786.0,317.0,310.0,404.0,43786.0,F,F,F
22,8680,Memorial School,43786.0,50.162,55.85,56.807,43786.0,349.0,374.0,414.0,43786.0,D,B,B
23,8987,East Clark,43786.0,45.374,48.575,49.384,43786.0,214.0,244.0,236.0,43786.0,C,F,F
24,9285,Douglas MacArthur,43786.0,82.043,87.794,90.19,43786.0,290.0,294.0,346.0,43786.0,F,F,D
25,9421,Ginn Academy,43786.0,39.672,49.729,49.645,43786.0,378.0,404.0,379.0,43786.0,F,D,C
26,9555,East Technical High School,43786.0,38.804,47.071,47.86,43786.0,368.0,362.0,358.0,43786.0,D,C,B
27,10200,MC^2 STEM High School,43786.0,45.66,51.183,53.529,43786.0,394.0,397.0,377.0,43786.0,F,F,F
28,10201,Design Lab @ Health Careers,43786.0,46.019,51.938,50.172,43786.0,193.0,225.0,243.0,43786.0,F,F,F
29,10801,Euclid Park Elementary School,43786.0,50.398,63.725,62.638,43786.0,315.0,303.0,333.0,43786.0,F,C,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,37457,Tremont Montessori School,43786.0,67.627,70.238,64.303,43786.0,507.0,467.0,545.0,43786.0,F,F,F
99,38182,Valley View Elementary School,43786.0,59.574,66.939,72.07,43786.0,181.0,168.0,191.0,43786.0,F,F,F
100,38604,William C Bryant Elementary School,43786.0,61.532,64.156,64.916,43786.0,367.0,378.0,422.0,43786.0,F,F,F
101,38927,Wade Park,43786.0,47.15,47.066,55.248,43786.0,352.0,334.0,405.0,43786.0,F,F,F
102,39149,Walton School,43786.0,53.121,52.65,51.478,43786.0,201.0,230.0,290.0,43786.0,F,F,F
103,39206,Warner Girls Leadership Academy,43786.0,55.145,64.571,64.469,43786.0,375.0,374.0,479.0,43786.0,F,F,F
104,39685,Washington Park,43786.0,43.276,53.347,42.321,43786.0,279.0,258.0,260.0,43786.0,C,D,F
105,39891,Waverly Elementary School,43786.0,56.696,58.747,55.519,43786.0,138.0,270.0,271.0,43786.0,C,C,F
106,41236,Wilbur Wright School,43786.0,55.02,54.008,63.263,43786.0,333.0,342.0,485.0,43786.0,F,F,F
107,41517,Willow School,43786.0,46.347,51.246,56.815,43786.0,232.0,215.0,211.0,43786.0,F,F,F
108,41541,Willson School,43786.0,47,46.072,47.523,43786.0,327.0,316.0,348.0,43786.0,F,F,F
109,62315,Lincoln-West High School,43786.0,42.746,41.748,44.259,43786.0,716.0,466.0,320.0,43786.0,F,F,NR
110,62323,Whitney Young School,43786.0,83.138,88.268,89.187,43786.0,235.0,224.0,185.0,43786.0,F,F,F
111,62760,Luis Munoz Marin School,43786.0,41.561,43.364,48.52,43786.0,540.0,506.0,529.0,43786.0,F,F,F
112,62778,Joseph M Gallagher School,43786.0,48.99,51.832,57.215,43786.0,661.0,705.0,753.0,43786.0,F,F,F
113,63461,Garrett Morgan Schl Of Science School,43786.0,52.049,53.559,53.806,43786.0,245.0,250.0,223.0,43786.0,D,D,F
114,64576,Cleveland School Of The Arts High School,43786.0,66.533,66.504,75.152,43786.0,580.0,537.0,469.0,43786.0,F,F,F
115,65565,Marion C Seltzer Elementary School,43786.0,51.096,48.78,54.258,43786.0,320.0,360.0,430.0,43786.0,F,F,F
116,65573,Marion-Sterling Elementary School,43786.0,50.299,49.027,53.914,43786.0,283.0,275.0,336.0,43786.0,B,D,F
117,68221,Kenneth W Clement,43786.0,46.516,52.517,58.64,43786.0,180.0,174.0,172.0,43786.0,F,F,F
118,86306,Martin Luther King Jr. Campus,43786.0,39.147,42.932,45.81,43786.0,431.0,377.0,355.0,43786.0,F,F,F
119,133215,"Intergenerational School, The",43786.0,77.213,86.595,78.818,43786.0,208.0,198.0,248.0,43786.0,C,C,C
120,133520,Citizens Academy,43786.0,75.464,79.267,77.34,43786.0,376.0,364.0,410.0,43786.0,F,F,F
121,133629,Horizon Science Acad Cleveland,43786.0,58.42,61.711,60.094,NaN,NaN,NaN,439.0,NaN,NaN,NaN,D
122,147397,Cleveland School of Science & Medicine,43786.0,91.204,94.554,95.969,43786.0,382.0,404.0,401.0,43786.0,A,A,A
123,18382,NaN,NaN,NaN,NaN,NaN,43786.0,319.0,159.0,NaN,43786.0,D,NR,NaN
124,18416,NaN,NaN,NaN,NaN,NaN,43786.0,621.0,352.0,NaN,43786.0,NR,C,NaN
125,23689,NaN,NaN,NaN,NaN,NaN,43786.0,225.0,185.0,NaN,43786.0,F,F,NaN
126,39875,NaN,NaN,NaN,NaN,NaN,43786.0,169.0,NaN,NaN,43786.0,F,NaN,NaN
127,147389,NaN,NaN,NaN,NaN,NaN,43786.0,74.0,45.0,NaN,43786.0,NR,D,NaN

In [48]:
drop_y(single_cmsd_dataset)

In [49]:
single_cmsd_dataset

,Building_IRN,Building_Name,District_IRN,performanceIndexPercent_2015_2016,performanceIndexPercent_2016_2017,performanceIndexPercent_2017_2018,Enrollment_Total_1516,Enrollment_Total_1617,Enrollment_Total_1718,Overall Value Added Grade 1516,Overall Value Added Grade 1617,Overall Value Added Grade 1718
0,224,Adlai Stevenson School,43786.0,43.903,49.271,48.158,378.0,395.0,443.0,F,F,F
1,318,Menlo Park Academy,43786.0,110.76,106.422,108.824,328.0,360.0,419.0,C,F,F
2,489,Almira,43786.0,46.384,46.791,49.955,424.0,439.0,547.0,F,F,F
3,729,Andrew J Rickoff,43786.0,44.327,47.131,49.875,406.0,386.0,442.0,F,F,F
4,828,Anton Grdina,43786.0,38.904,40.361,42.672,325.0,311.0,395.0,F,F,F
5,930,Cleveland Entrepreneurship Preparatory School,43786.0,73.607,75.062,76.657,295.0,311.0,323.0,A,A,A
6,936,Promise Academy,43786.0,NaN,NaN,44.667,NaN,NaN,210.0,NaN,NaN,NR
7,1040,Artemus Ward,43786.0,56.816,60.942,65.324,441.0,465.0,513.0,F,F,C
8,2378,Benjamin Franklin,43786.0,64.892,64.372,69.865,533.0,581.0,615.0,F,F,F
9,3137,Bolton,43786.0,36.583,41.123,38.271,300.0,277.0,329.0,F,F,F
10,4234,Buhrer,43786.0,71.772,77.072,70.19,346.0,343.0,395.0,F,F,F
11,5066,Case,43786.0,38.715,42.5,49.362,315.0,297.0,301.0,F,F,F
12,5637,Alfred Benesch,43786.0,39.222,39.879,40.343,325.0,299.0,319.0,F,F,F
13,5892,Charles A Mooney School,43786.0,52.23,57.381,62.922,461.0,455.0,455.0,F,F,D
14,5900,Charles Dickens School,43786.0,42.29,48.036,46.391,337.0,373.0,404.0,F,F,F
15,5942,Charles W Eliot School,43786.0,52.793,50.404,50,318.0,287.0,326.0,A,C,F
16,6353,Clara E Westropp School,43786.0,58.551,63.577,71.534,352.0,372.0,345.0,F,D,A
17,6429,Clark School,43786.0,79.627,92.689,88.454,517.0,510.0,590.0,A,A,A
18,6940,Collinwood High School,43786.0,44.333,54,59.269,436.0,369.0,329.0,F,C,C
19,8060,Daniel E Morgan School,43786.0,46.819,53.778,61.476,261.0,237.0,248.0,F,F,F
20,8383,Denison,43786.0,50.809,60.98,72.997,329.0,312.0,323.0,F,F,A
21,8490,Cleveland School of Arts Lower Campus,43786.0,63.351,62.345,62.444,317.0,310.0,404.0,F,F,F
22,8680,Memorial School,43786.0,50.162,55.85,56.807,349.0,374.0,414.0,D,B,B
23,8987,East Clark,43786.0,45.374,48.575,49.384,214.0,244.0,236.0,C,F,F
24,9285,Douglas MacArthur,43786.0,82.043,87.794,90.19,290.0,294.0,346.0,F,F,D
25,9421,Ginn Academy,43786.0,39.672,49.729,49.645,378.0,404.0,379.0,F,D,C
26,9555,East Technical High School,43786.0,38.804,47.071,47.86,368.0,362.0,358.0,D,C,B
27,10200,MC^2 STEM High School,43786.0,45.66,51.183,53.529,394.0,397.0,377.0,F,F,F
28,10201,Design Lab @ Health Careers,43786.0,46.019,51.938,50.172,193.0,225.0,243.0,F,F,F
29,10801,Euclid Park Elementary School,43786.0,50.398,63.725,62.638,315.0,303.0,333.0,F,C,B
...,...,...,...,...,...,...,...,...,...,...,...,...
98,37457,Tremont Montessori School,43786.0,67.627,70.238,64.303,507.0,467.0,545.0,F,F,F
99,38182,Valley View Elementary School,43786.0,59.574,66.939,72.07,181.0,168.0,191.0,F,F,F
100,38604,William C Bryant Elementary School,43786.0,61.532,64.156,64.916,367.0,378.0,422.0,F,F,F
101,38927,Wade Park,43786.0,47.15,47.066,55.248,352.0,334.0,405.0,F,F,F
102,39149,Walton School,43786.0,53.121,52.65,51.478,201.0,230.0,290.0,F,F,F
103,39206,Warner Girls Leadership Academy,43786.0,55.145,64.571,64.469,375.0,374.0,479.0,F,F,F
104,39685,Washington Park,43786.0,43.276,53.347,42.321,279.0,258.0,260.0,C,D,F
105,39891,Waverly Elementary School,43786.0,56.696,58.747,55.519,138.0,270.0,271.0,C,C,F
106,41236,Wilbur Wright School,43786.0,55.02,54.008,63.263,333.0,342.0,485.0,F,F,F
107,41517,Willow School,43786.0,46.347,51.246,56.815,232.0,215.0,211.0,F,F,F
108,41541,Willson School,43786.0,47,46.072,47.523,327.0,316.0,348.0,F,F,F
109,62315,Lincoln-West High School,43786.0,42.746,41.748,44.259,716.0,466.0,320.0,F,F,NR
110,62323,Whitney Young School,43786.0,83.138,88.268,89.187,235.0,224.0,185.0,F,F,F
111,62760,Luis Munoz Marin School,43786.0,41.561,43.364,48.52,540.0,506.0,529.0,F,F,F
112,62778,Joseph M Gallagher School,43786.0,48.99,51.832,57.215,661.0,705.0,753.0,F,F,F
113,63461,Garrett Morgan Schl Of Science School,43786.0,52.049,53.559,53.806,245.0,250.0,223.0,D,D,F
114,64576,Cleveland School Of The Arts High School,43786.0,66.533,66.504,75.152,580.0,537.0,469.0,F,F,F
115,65565,Marion C Seltzer Elementary School,43786.0,51.096,48.78,54.258,320.0,360.0,430.0,F,F,F
116,65573,Marion-Sterling Elementary School,43786.0,50.299,49.027,53.914,283.0,275.0,336.0,B,D,F
117,68221,Kenneth W Clement,43786.0,46.516,52.517,58.64,180.0,174.0,172.0,F,F,F
118,86306,Martin Luther King Jr. Campus,43786.0,39.147,42.932,45.81,431.0,377.0,355.0,F,F,F
119,133215,"Intergenerational School, The",43786.0,77.213,86.595,78.818,208.0,198.0,248.0,C,C,C
120,133520,Citizens Academy,43786.0,75.464,79.267,77.34,376.0,364.0,410.0,F,F,F
121,133629,Horizon Science Acad Cleveland,43786.0,58.42,61.711,60.094,NaN,NaN,439.0,NaN,NaN,D
122,147397,Cleveland School of Science & Medicine,43786.0,91.204,94.554,95.969,382.0,404.0,401.0,A,A,A
123,18382,NaN,NaN,NaN,NaN,NaN,319.0,159.0,NaN,D,NR,NaN
124,18416,NaN,NaN,NaN,NaN,NaN,621.0,352.0,NaN,NR,C,NaN
125,23689,NaN,NaN,NaN,NaN,NaN,225.0,185.0,NaN,F,F,NaN
126,39875,NaN,NaN,NaN,NaN,NaN,169.0,NaN,NaN,F,NaN,NaN
127,147389,NaN,NaN,NaN,NaN,NaN,74.0,45.0,NaN,NR,D,NaN

In [50]:
single_cmsd_dataset.dtypes

Building_IRN                           int64
Building_Name                         object
District_IRN                         float64
performanceIndexPercent_2015_2016     object
performanceIndexPercent_2016_2017     object
performanceIndexPercent_2017_2018     object
Enrollment_Total_1516                float64
Enrollment_Total_1617                float64
Enrollment_Total_1718                float64
Overall Value Added Grade 1516        object
Overall Value Added Grade 1617        object
Overall Value Added Grade 1718        object
dtype: object

In [51]:
#convert to numeric
single_cmsd_dataset['performanceIndexPercent_2015_2016'] = single_cmsd_dataset['performanceIndexPercent_2015_2016'].astype(np.float64)
single_cmsd_dataset['performanceIndexPercent_2016_2017'] = single_cmsd_dataset['performanceIndexPercent_2016_2017'].astype(np.float64)
single_cmsd_dataset['performanceIndexPercent_2017_2018'] = single_cmsd_dataset['performanceIndexPercent_2017_2018'].astype(np.float64)

In [52]:
single_cmsd_dataset

,Building_IRN,Building_Name,District_IRN,performanceIndexPercent_2015_2016,performanceIndexPercent_2016_2017,performanceIndexPercent_2017_2018,Enrollment_Total_1516,Enrollment_Total_1617,Enrollment_Total_1718,Overall Value Added Grade 1516,Overall Value Added Grade 1617,Overall Value Added Grade 1718
0,224,Adlai Stevenson School,43786.0,43.903,49.271,48.158,378.0,395.0,443.0,F,F,F
1,318,Menlo Park Academy,43786.0,110.760,106.422,108.824,328.0,360.0,419.0,C,F,F
2,489,Almira,43786.0,46.384,46.791,49.955,424.0,439.0,547.0,F,F,F
3,729,Andrew J Rickoff,43786.0,44.327,47.131,49.875,406.0,386.0,442.0,F,F,F
4,828,Anton Grdina,43786.0,38.904,40.361,42.672,325.0,311.0,395.0,F,F,F
5,930,Cleveland Entrepreneurship Preparatory School,43786.0,73.607,75.062,76.657,295.0,311.0,323.0,A,A,A
6,936,Promise Academy,43786.0,NaN,NaN,44.667,NaN,NaN,210.0,NaN,NaN,NR
7,1040,Artemus Ward,43786.0,56.816,60.942,65.324,441.0,465.0,513.0,F,F,C
8,2378,Benjamin Franklin,43786.0,64.892,64.372,69.865,533.0,581.0,615.0,F,F,F
9,3137,Bolton,43786.0,36.583,41.123,38.271,300.0,277.0,329.0,F,F,F
10,4234,Buhrer,43786.0,71.772,77.072,70.190,346.0,343.0,395.0,F,F,F
11,5066,Case,43786.0,38.715,42.500,49.362,315.0,297.0,301.0,F,F,F
12,5637,Alfred Benesch,43786.0,39.222,39.879,40.343,325.0,299.0,319.0,F,F,F
13,5892,Charles A Mooney School,43786.0,52.230,57.381,62.922,461.0,455.0,455.0,F,F,D
14,5900,Charles Dickens School,43786.0,42.290,48.036,46.391,337.0,373.0,404.0,F,F,F
15,5942,Charles W Eliot School,43786.0,52.793,50.404,50.000,318.0,287.0,326.0,A,C,F
16,6353,Clara E Westropp School,43786.0,58.551,63.577,71.534,352.0,372.0,345.0,F,D,A
17,6429,Clark School,43786.0,79.627,92.689,88.454,517.0,510.0,590.0,A,A,A
18,6940,Collinwood High School,43786.0,44.333,54.000,59.269,436.0,369.0,329.0,F,C,C
19,8060,Daniel E Morgan School,43786.0,46.819,53.778,61.476,261.0,237.0,248.0,F,F,F
20,8383,Denison,43786.0,50.809,60.980,72.997,329.0,312.0,323.0,F,F,A
21,8490,Cleveland School of Arts Lower Campus,43786.0,63.351,62.345,62.444,317.0,310.0,404.0,F,F,F
22,8680,Memorial School,43786.0,50.162,55.850,56.807,349.0,374.0,414.0,D,B,B
23,8987,East Clark,43786.0,45.374,48.575,49.384,214.0,244.0,236.0,C,F,F
24,9285,Douglas MacArthur,43786.0,82.043,87.794,90.190,290.0,294.0,346.0,F,F,D
25,9421,Ginn Academy,43786.0,39.672,49.729,49.645,378.0,404.0,379.0,F,D,C
26,9555,East Technical High School,43786.0,38.804,47.071,47.860,368.0,362.0,358.0,D,C,B
27,10200,MC^2 STEM High School,43786.0,45.660,51.183,53.529,394.0,397.0,377.0,F,F,F
28,10201,Design Lab @ Health Careers,43786.0,46.019,51.938,50.172,193.0,225.0,243.0,F,F,F
29,10801,Euclid Park Elementary School,43786.0,50.398,63.725,62.638,315.0,303.0,333.0,F,C,B
...,...,...,...,...,...,...,...,...,...,...,...,...
98,37457,Tremont Montessori School,43786.0,67.627,70.238,64.303,507.0,467.0,545.0,F,F,F
99,38182,Valley View Elementary School,43786.0,59.574,66.939,72.070,181.0,168.0,191.0,F,F,F
100,38604,William C Bryant Elementary School,43786.0,61.532,64.156,64.916,367.0,378.0,422.0,F,F,F
101,38927,Wade Park,43786.0,47.150,47.066,55.248,352.0,334.0,405.0,F,F,F
102,39149,Walton School,43786.0,53.121,52.650,51.478,201.0,230.0,290.0,F,F,F
103,39206,Warner Girls Leadership Academy,43786.0,55.145,64.571,64.469,375.0,374.0,479.0,F,F,F
104,39685,Washington Park,43786.0,43.276,53.347,42.321,279.0,258.0,260.0,C,D,F
105,39891,Waverly Elementary School,43786.0,56.696,58.747,55.519,138.0,270.0,271.0,C,C,F
106,41236,Wilbur Wright School,43786.0,55.020,54.008,63.263,333.0,342.0,485.0,F,F,F
107,41517,Willow School,43786.0,46.347,51.246,56.815,232.0,215.0,211.0,F,F,F
108,41541,Willson School,43786.0,47.000,46.072,47.523,327.0,316.0,348.0,F,F,F
109,62315,Lincoln-West High School,43786.0,42.746,41.748,44.259,716.0,466.0,320.0,F,F,NR
110,62323,Whitney Young School,43786.0,83.138,88.268,89.187,235.0,224.0,185.0,F,F,F
111,62760,Luis Munoz Marin School,43786.0,41.561,43.364,48.520,540.0,506.0,529.0,F,F,F
112,62778,Joseph M Gallagher School,43786.0,48.990,51.832,57.215,661.0,705.0,753.0,F,F,F
113,63461,Garrett Morgan Schl Of Science School,43786.0,52.049,53.559,53.806,245.0,250.0,223.0,D,D,F
114,64576,Cleveland School Of The Arts High School,43786.0,66.533,66.504,75.152,580.0,537.0,469.0,F,F,F
115,65565,Marion C Seltzer Elementary School,43786.0,51.096,48.780,54.258,320.0,360.0,430.0,F,F,F
116,65573,Marion-Sterling Elementary School,43786.0,50.299,49.027,53.914,283.0,275.0,336.0,B,D,F
117,68221,Kenneth W Clement,43786.0,46.516,52.517,58.640,180.0,174.0,172.0,F,F,F
118,86306,Martin Luther King Jr. Campus,43786.0,39.147,42.932,45.810,431.0,377.0,355.0,F,F,F
119,133215,"Intergenerational School, The",43786.0,77.213,86.595,78.818,208.0,198.0,248.0,C,C,C
120,133520,Citizens Academy,43786.0,75.464,79.267,77.340,376.0,364.0,410.0,F,F,F
121,133629,Horizon Science Acad Cleveland,43786.0,58.420,61.711,60.094,NaN,NaN,439.0,NaN,NaN,D
122,147397,Cleveland School of Science & Medicine,43786.0,91.204,94.554,95.969,382.0,404.0,401.0,A,A,A
123,18382,NaN,NaN,NaN,NaN,NaN,319.0,159.0,NaN,D,NR,NaN
124,18416,NaN,NaN,NaN,NaN,NaN,621.0,352.0,NaN,NR,C,NaN
125,23689,NaN,NaN,NaN,NaN,NaN,225.0,185.0,NaN,F,F,NaN
126,39875,NaN,NaN,NaN,NaN,NaN,169.0,NaN,NaN,F,NaN,NaN
127,147389,NaN,NaN,NaN,NaN,NaN,74.0,45.0,NaN,NR,D,NaN

In [53]:
single_cmsd_dataset.dtypes

Building_IRN                           int64
Building_Name                         object
District_IRN                         float64
performanceIndexPercent_2015_2016    float64
performanceIndexPercent_2016_2017    float64
performanceIndexPercent_2017_2018    float64
Enrollment_Total_1516                float64
Enrollment_Total_1617                float64
Enrollment_Total_1718                float64
Overall Value Added Grade 1516        object
Overall Value Added Grade 1617        object
Overall Value Added Grade 1718        object
dtype: object

In [54]:
single_cmsd_dataset.to_csv("data/single_cmsd_dataset.csv")