In [1]:
import pandas as pd
import numpy as np

In [2]:
district_lep = pd.read_excel("data/district_lep_1718.xlsx")

In [3]:
cmsd_lep = district_lep.loc[district_lep["District IRN"] == 43786]

In [4]:
cmsd_lep

,District IRN,District Name,Student Group,Read 3rd Grade 2017-2018 % Proficient or above,Math 3rd Grade 2017-2018 % Proficient or above,Read 4th Grade 2017-2018 % Proficient or above,Math 4th Grade 2017-2018 % Proficient or above,Read 5th Grade 2017-2018 % Proficient or above,Math 5th Grade 2017-2018 % Proficient or above,Science 5th Grade 2017-2018 % Proficient or above,Read 6th Grade 2017-2018 % Proficient or above,Math 6th Grade 2017-2018 % Proficient or above,Read 7th Grade 2017-2018 % Proficient or above,Math 7th Grade 2017-2018% Proficient or above,Read 8th Grade 2017-2018 % Proficient or above,Math 8th Grade 2017-2018 % Proficient or above,Science 8th Grade 2017-2018 % Proficient or above,Attendance Rate 2017-2018,Enrollment,% of Total Enrollment
62,43786,Cleveland Municipal,LEP,39.3,49.7,36.5,49.3,36.9,34.6,35.5,22.0,24.6,16.3,25.0,14.9,34.3,36.0,90.9,3747,9.7
63,43786,Cleveland Municipal,NonLEP,36.1,40.1,37.0,41.9,38.2,30.2,34.1,26.7,26.0,36.0,28.5,25.4,26.7,33.7,90.9,34898,90.3

In [5]:
lep_bldg = pd.read_excel("data/bldg_lep_1718.xlsx")

In [6]:
# filter for the three schools being studied
bldg_irns = [729, 24687, 32060]
lep_3filter = lep_bldg[lep_bldg['Building IRN'].isin(bldg_irns)]

In [7]:
lep_3filter

,Building IRN,Building Name,District IRN,Student Group,ELA 3rd Grade 2017-2018 % Proficient or above,Math 3rd Grade 2017-2018 % Proficient or above,ELA 4th Grade 2017-2018 % Proficient or above,Math 4th Grade 2017-2018 % Proficient or above,ELA 5th Grade 2017-2018 % Proficient or above,Math 5th Grade 2017-2018 % Proficient or above,...,Algebra I End of Course 2017-2018 % Proficient or above,Geometry End of Course 2017-2018 % Proficient or above,Integrated Math I End of Course 2017-2018 % Proficient or above,Integrated Math II End of Course 2017-2018 % Proficient or above,Biology End of Course 2017-2018 % Proficient or above,Four Year Grad Rate 2017,Five Year Grad Rate 2016,Attendance Rate 2017-2018,Enrollment 2017-2018,Percent of Total Enrollment 2017-2018
143,729,Andrew J Rickoff,43786,English Learner,NC,NC,NC,NC,NC,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC
1824,24687,Miles School,43786,English Learner,NC,NC,NC,NC,NC,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC
2233,32060,Robert H Jamison School,43786,English Learner,NC,NC,NC,NC,NC,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NC